<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>알Go뽑자 어드민페이지</title>
    <!-- Bootstrap Styles-->
    <link href="/css_admin/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/css_admin/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/js_admin/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/css_admin/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <script>
       function clickModify(id){

        var data = {
            user_id : document.getElementById('ttt'+id+'_user_id').value,
            user_email : document.getElementById('ttt'+id+'_user_email').value,
            user_phone : document.getElementById('ttt'+id+'_user_phone').value,
            user_black : document.getElementById('ttt'+id+'_user_black').value,
            user_itScience : document.getElementById('ttt'+id+'_user_itScience').value,
            user_economy : document.getElementById('ttt'+id+'_user_economy').value,
            user_culture : document.getElementById('ttt'+id+'_user_culture').value,
            user_society : document.getElementById('ttt'+id+'_user_society').value,
            user_politics : document.getElementById('ttt'+id+'_user_politics').value
        }
        console.log('ttt'+id);
        console.log(data);

        fetch("/admin/member", {
                         method: "PUT",
                         body: JSON.stringify(data),
                         headers:{
                             'Content-Type': 'application/json'
                            }
            })
        }

        function clickDelete(id){

        var data = {
            user_id : document.getElementById('ttt'+id+'_user_id').value,
        }
        fetch("/admin/member", {
                         method: "DELETE",
                         body: JSON.stringify(data),
                         headers:{
                             'Content-Type': 'application/json'
                            }
                     })
         }
                   
    </script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">알Go뽑자 관리자 대쉬보드</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                


                <!--
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
            
                </li>
                -->

        
            </ul>
        </nav>



        <!--/. NAV TOP  -->
             <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a  class="active-menu" href="/admin/member"><i class="fa fa-dashboard"></i> 회원 정보</a>
                    </li>
                    <li>
                        <a href="/admin/politician"><i class="fa fa-desktop"></i>정치인 정보 </a>
                    </li>

                    <li>
                        <a href="/admin/member_grade"><i class="fa fa-sitemap"></i>평점 관리<!--span class="fa arrow"></span--></a>
                        <ul class="nav nav-second-level">

                            <li>
                                <a  href="/admin/member_grade">유저 평점 관리</a>
                            </li>

                            <li>
                                <a href="/admin/politician_grade">정치인 평점 관리</a>
                            </li>

                            <li>
                                <a href="#">블랙 유저 관리</a>
                            </li>
              

                        </ul>
                    </li>
                    
                </ul>

            </div>

        </nav>







        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            회원관리 <small>대쉬보드</small>
                        </h1>
                    </div>
                </div>
                
                
                <!-- /. ROW  -->

                <div class="row">


                   
                        <div class="panel panel-default">
                            <div class="panel-heading" style="display: flex;">
                                 <h4 style="margin-right:70%; padding-top:0;">회원관리</h4>
                                
                                  <form class="form-group input-group"  style="display: flex; margin-bottom: 0;">
                                  <input class="form-control" type="text" placeholder="검색" style="height:100%;">
                                  <button class="input-group-addon" type="submit" style="width:30%;">검색하기</button>
                                  </form>

                            </div> 

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:3%; text-align:center;">번호</th>
                                                <th style="width:5%; text-align:center;">ID</th>
                                                <th style="width:8%; text-align:center;">이메일</th>
                                                <th style="width:8%; text-align:center;">전화번호</th>
                                                <th style="width:5%; text-align:center;">영구정지여부</th>
                                                <th style="width:5%; text-align:center;">과학/IT</th>
                                                <th style="width:5%; text-align:center;">경제</th>
                                                <th style="width:5%; text-align:center;">문화</th>
                                                <th style="width:5%; text-align:center;">사회</th>
                                                <th style="width:5%; text-align:center;">정치</th>
                                                <th style="width:8%; text-align:center;">관리</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <% for(var i =0; i < memberList.length; i++) { %>
                                            
                                            
                                            <tr>    
                                            <td style=" text-align: center; width:3%;"><%= i+1 %></td>
                                            <td><input id = "ttt<%= i %>_user_id" type="text" value="<%= memberList[i].user_id %>" style=" text-align: center; width:90%;">
                                            </input>
                                            </td>
                                            <td><input id = "ttt<%= i %>_user_email" type="text" value="<%= memberList[i].user_email %>" style=" text-align: center; width:100s%;"></td>
                                            <td><input id = "ttt<%= i %>_user_phone" type="text" value="<%= memberList[i].user_phone %>" style=" text-align: center;width:70%;" ></td>
                                            <td><input id = "ttt<%= i %>_user_black" type="text" value="<%= memberList[i].user_black %>" style=" text-align: center; width:50%;"></td>
                                            <td><input id = "ttt<%= i %>_user_itScience" type="text" value="<%= memberList[i].itScience %>" style=" text-align: center; width:50%;"></td>
                                            <td><input id = "ttt<%= i %>_user_economy" type="text" value="<%= memberList[i].economy %>" style=" text-align: center; width:50%;"></td>
                                            <td><input id = "ttt<%= i %>_user_culture" type="text" value="<%= memberList[i].culture %>" style=" text-align: center; width:50%;"></td>
                                            <td><input id = "ttt<%= i %>_user_society" type="text" value="<%= memberList[i].society %>" style=" text-align: center; width:50%;"></td>
                                            <td><input id = "ttt<%= i %>_user_politics" type="text" value="<%= memberList[i].politics %>" style=" text-align: center; width:50%;" ></td>
                                            <td style="text-align: center;">
                                                <div style="display: inline-flex">
                                               <button type="button" onclick="clickModify('<%= i %>')">수정</button>
                                               <button type="button" onclick="clickDelete('<%= i %>')">삭제</button>
                                                </div>
                                            </td>
                                            </tr>
                                        
                                            <% } %>
                                            

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                             <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate" style="margin-left:70%;">

                                
                                            <ul class="pagination">
                                                <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                                    <a href="#">Previous</a>
                                                </li>
                                                <% for(var i = 0; i < total/10 ; i++) { %>
                                                <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                                    <a href="/admin/member?page=<%= i+1 %>"><%= i+1 %></a>
                                                </li>
                                                <% } %>

                                                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">Next</a>
                                                </li>
                                            </ul>

                            
                        </div>
                    </div><!--panel default-->





                    </div> <!-- /. ROW  -->
               
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

</body>

</html>